.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #96d3ef
}

.card-header-active {
    background: #f3a60b
}

.card-header-title {
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    color: white;
    background-color: transparent;
    outline: none;
}

.card-header-title-layout {
    width: 70%;
    font-size: 1.3rem;
}

.panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.panel input {
    transform: scale(1.5);
}

.panel-layout {
    width: 20%;
    font-size: 1.2rem;
}

.panel-layout i {
    margin-right: 1rem;
}