.content {
    display: flex;
    flex-direction: column;
}

.content-layout {
    margin-top: 90px;
}

.cards-panel {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 22px;
}

.cards-panel-layout {
    position: relative;
    padding: 0 .6rem 0 2rem;
    margin: 1rem 0 0 .1rem;;
}

.cards-manage-button {
    background: #96d3ef;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
}

.cards-manage-button:hover {
    border: 2px solid white;
}

.add-card-modal {
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid transparent;
    border-radius: 5px;
}

.add-card-modal-layout {
    margin: 1rem 0.6rem 0 0.6rem;
    position: relative;
    padding: .75rem .5rem;
}

.add-card-modal button {
    background: #96d3ef;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #004085;
}

.add-card-modal button:hover {
    border: 2px solid white;
}