.content {
    background: #f5f5f5;
}

.content-layout {
    margin-top: 70px;
}

.container {
    display: flex;
    flex-direction: column;
}

.cards-panel {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 22px;
}

.cards-panel-layout {
    position: relative;
    padding: 0 .6rem 0 2rem;
    margin: .5rem 0 -1rem 0;
}

.cards-manage-button {
    background: #96d3ef;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.cards-manage-button:hover {
    border: 2px solid rebeccapurple;
}
