.card {
    width: calc(25% - 1rem);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 1rem .5rem 1rem;
    border: none;
}

.card:hover {
    border: 1px solid #0baaf3;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    min-height: 60px;
}

.card-header-title {
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
}


.view-panel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 20%;
}

.view-panel input {
    transform: scale(1.5);
}

.edit-panel {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 20%;
}

.card-body {
    max-height: 250px;
    overflow-y: scroll;
}